html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    height: auto;
    width: auto;
    color: aliceblue;
    margin: 0;
    background-color: #141414;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(88, 88, 88);
    outline: 1px solid rgb(63, 63, 63);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #646464;
    color: white;
    cursor: pointer;
    padding: 10px 15px 0px 15px;
    border-radius: 40px;
    font-size: 30px;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 815px) {
    #section-panel {
        display: contents;
        float: left;
        margin: 5px;
    }
    #section-info {
        display: contents;
        float: left;
        margin: 5px;
    }
    body {
        margin: 2.5%;
        height: 100%;
        width: 95%;
    }
}

#main-body {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    transition: 1s;
}

#section-panel {
    overflow: auto;
    scrollbar-base-color: #141414;
    scrollbar-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-right: 5px solid;
    border-color: rgba(128, 128, 128, 0.4);
}

#sec-pln {
    background-color: rgb(52 52 52);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#section-panel li {
    list-style: none;
    display: list-item;
    text-align: left;
    font-size: 1rem;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    height: 30px;
    background-color: rgba(187, 187, 187, 0.18);
    margin-top: 5px;
}

#section-panel li:hover {
    background-color: rgba(179, 179, 179, 0.568);
}

#section-panel ul {
    padding: 10px;
}

h2 {
    color: aliceblue;
    margin: 10px;
    font-size: 1.6em;
    text-align: center;
}

href {
    color: aliceblue;
}

header {
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: thin;
    background-color: rgb(255 255 255 / 18%);
    border-radius: 20px 20px 2px 2px;
    padding: 20px;
}

header:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(105, 105, 105, 0.568);
}

#section-info {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
}

p {
    padding: 10px;
    margin: 10px;
    margin-top: 2px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

article {
    background-color: rgb(52 52 52);
    border-radius: 2px 2px 20px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: rgb(82, 81, 81);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

code:hover {
    background-color: rgba(90, 90, 90, 0.568);
}